{{page-title "Tds"}}

<select id="monselect" multiple>
  <option value="id1">Valeur 1</option>
  <option value="id2" selected>Valeur 2</option>
  <option value="id3">Valeur 3</option>
</select>

{{outlet}}